* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Josefin Sans', sans-serif; */
font-size: larger;    background-color: #1F252E;
}

p {
    font-size: .98rem;
    color: #d1d1d1;
}